#aselect {
    width: 100%;
    display: flex;
    justify-content: center;
}

.aselect {
    width: 300px;
}

.aselect__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s ease-in;
}

.aselect.open .aselect__overlay {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}

.aselect__body {
    width: 300px;
}

.aselect__input {
    height: 30px;
    border: 1px solid #000;
    background: #fff;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.aselect__input-arrow {
    font-size: 20px;
}

.aselect__dropdown {
    max-height: 100px;
    overflow-y: auto;
    opacity: 0;
    border: 1px solid #000;
    transition: opacity .2s ease-in;
}

.aselect.open .aselect__dropdown {
    opacity: 1;
    display: block;
}
.aselect__option {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30px;
    background: #fff;
    cursor: pointer;
}

.aselect__option:hover, .aselect__selected {
    background: #fda477;
}